@model AppUserLogin
<form method="post" class="w-75 mx-auto p-3 mt-4" action="">
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="@Model.UserName"  class="form-control" type="text" >
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="@Model.Password"  class="form-control" type="text" >
    </div>
    <div class="form-group">
         <button class="btn btn-primary btn-sm" type="submit">Giriş Yap</button>
         <a class="btn btn-primary btn-sm" asp-action="SignUp" asp-controller="Account">Kayıt Ol</a>
    </div>

   
</form>